<link type="text/css" rel="stylesheet" href="/stylesheets/clases.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/scaffold.css"/>

<section>
	<article id="articulo1" class="fuente_normal">
		<h1>Nueva Asignación de comisiones</h1>
		
		<%= render 'form'%>
		
		<%= link_to 'Back', asig_bill_comissions_path%> 
	</article>
</section>