<div class="clearfix">    
	<link type="text/css" rel="stylesheet" href="/stylesheets/equipo.css"/>
	<div>
		<div id="equipo_inicio">
			 <h1>Página de información sobre el equipo de trabajo</h1>
		</div>
		
		
	</div>   
	
</div> <!-- content -->
