

<link type="text/css" rel="stylesheet" href="/stylesheets/congreso_abierto.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/clases.css"/>

<section>
	<article id="articulo1" class="fuente_color">
		<div id="intro">
			<div id="titulo"><strong><i>Congreso Abierto</i></strong></div>
			
			<div id="txt_intro">
				<p>
					Conocer lo que está sucediendo en el Congreso, es una tarea difícil y desalentadora. El Congreso ofrece pocos canales para que la gente haga oír su voz en los asuntos que sean consecuencia
					de las políticas públicas. Esta desconexión, y muchos otros, dan lugar a una variedad de
					resultados perjudiciales, la ignorancia sobre el gobierno, la apatía por la política, y la
					disminución de los índices de aprobación de nuestros funcionarios electos democráticamente.
				</p>
		
				<p>
					Congreso Abierto se ocupa de estas cuestiones por lo que es fácil de entender, rastrear, y colaborar con el Congreso. Congreso Abierto combina los datos oficiales del Gobierno con las noticias y la cobertura del blog, redes sociales y herramientas de
					participación para darle la verdadera historia detrás de lo que está sucediendo en el Congreso.
				</p>
			</div>
		</div>
	</article>
	
	<article id="articulo2" class="fuente_color">
		<div id="objetivos">
			<h2>Nuestros Objetivos</h2>
			<ul>
				<li><p>Facilitar el proceso de compromiso ciudadano y sensibilización a través del uso de herramientas tecnológicas.</p></li>
				<li><p>Divulgar y ser fuente de información de las distintas iniciativas de ley que se promueven en el congreso.</p></li>
				<li><p>Fomentar la participación ciudadana en la toma de decisiones del Congreso de Guatemala.</p></li>
				<li><p>Reducir las brechas entre los ciudadanos y sus representantes.</p></li>
				<li><p>Promover mecanismos de fiscalización y rendición de cuentas.</p></li>
			</ul>
		</div>
		<div id="contenido">
			<h2>¿Qué información puedo encontrar?</h2>
			<ul>
				<li><p>¿Quién es mi representante?</p></li>
				<li><p>Perfil de los Legisladores (Datos, Correo, Teléfono, Redes Sociales)</p></li>
				<li><p>Comisiones de Trabajo</p></li>
				<li><p>Mapas de Distrito</p></li>
				<li><p>Noticias</p></li>
			</ul>			
		</div>
	</article>
</section>