<link type="text/css" rel="stylesheet" href="/stylesheets/index.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/noticias.css"/>
<section>
	<div id="slider">
		<input checked type="radio" name="slider" id="slide1" />
		<input type="radio" name="slider" id="slide2" />
		<input type="radio" name="slider" id="slide3" />
		<input type="radio" name="slider" id="slide4" />
		<input type="radio" name="slider" id="slide5" />
				
		<div id="slides">
			<div id="overflow">
				<div class="inner">
					<article class="fondo_slider">
						<div class="Superior">
							<div class="texto"> </div>					
							<div class="foto"> </div>	
						</div>
					
						<div class="Inferior">
							<div class="enlace"> </div>
							<div class="suscribir">
								<div class="mensaje"> </div>
								<div class="e_boton"> </div> 
							</div>
						</div>		
					</article>
							
					<article class="fondo_slider">
						<div class="Superior">
							<div class="texto"> </div>					
							<div class="foto"> </div>	
						</div>
					
						<div class="Inferior">
							<div class="enlace"> </div>
							<div class="suscribir">
								<div class="mensaje"> </div>
								<div class="e_boton"> </div> 
							</div>
						</div>					
					</article>
					
					<article class="fondo_slider">
						<div class="Superior">
							<div class="texto"> </div>					
							<div class="foto"> </div>	
						</div>
					
						<div class="Inferior">
							<div class="enlace"> </div>
							<div class="suscribir">
								<div class="mensaje"> </div>
								<div class="e_boton"> </div> 
							</div>
						</div>	
					</article>
					
					<article class="fondo_slider">
						<div class="Superior">
							<div class="texto"> </div>					
							<div class="foto"> </div>	
						</div>
					
						<div class="Inferior">
							<div class="enlace"> </div>
							<div class="suscribir">
								<div class="mensaje"> </div>
								<div class="e_boton"> </div> 
							</div>
						</div>
					</article>
					
					<article class="fondo_slider">
						<div class="Superior">
							<div class="texto"> </div>					
							<div class="foto"> </div>	
						</div>
						<div class="Inferior">
							<div class="enlace"> </div>
							<div class="suscribir">
								<div class="mensaje"> </div>
								<div class="e_boton"> </div> 
							</div>
						</div>	
					</article>
				</div>
			</div>
		</div>
				
		<div id="controls"> <!-- Este es el espacio para las flechas -->
			<label for="slide1"> </label>
			<label for="slide2"> </label>
			<label for="slide3"> </label>
			<label for="slide4"> </label>
			<label for="slide5"> </label>
		</div>

		<div id="active"> <!-- Aqui es el espacio para controlar los radiobuttms -->
			<label for="slide1"> </label>
			<label for="slide2"> </label>
			<label for="slide3"> </label>
			<label for="slide4"> </label>
			<label for="slide5"> </label>
		</div>		
	</div>			
</section>