.fuente_color
{
	color: #414A4C;
	font-family: Arial;
}

.boton1 {
  font-family:"Helvetica",Arial;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  background: #1E90FF;
  text-decoration: none;
  font-size: 80%;
}

.boton1:hover {
  background: #3cb0fd;
  text-decoration: none;
}