#datos-diputado, #contacto-diputado
{
	width: 70%;
	margin: 0 auto;
	margin-top: -1%;
}

#img-perfil
{
	width: 30%;
}

#div-pediodo
{
	border-left-style: solid;
	 border-left-width: 2px;
	 border-left-color: #1E90FF;
}
