#datos-diputado, #contacto-diputado, #menu-diputados
{
	width: 70%;
	margin: 0 auto;
	margin-top: -1%;
}

#div-pediodo
{
	border-left-style: solid;
	 border-left-width: 2px;
	 border-left-color: #1E90FF;
}

/*Opciones para el menú tab del perfil*/
#menu-diputados /*Div principal donde se almacena todo*/
{
	margin-top: 2%;
	background-image: url('../imagenes/Encabezado/fondo.png');
	padding: 1%;
	border-radius: 15px;
}

#panel-1
{
	border-radius: 15px;
}

#fondo1:hover
{
	background: #FFFFFF;
}

.selector:hover
{
	color: #5bc0de;
}
