section article
{
	margin: 0 auto;
	background: #FFFFFF;
	width: 80%;
	height: 330px;
}

#articulo1
{
	margin-top: 8%;
}

#video
{
	float: left;
	width: 45%;
	height: 100%;
	margin-left: 7%;
}

#app
{
	float: right;
	margin-right: 8%;
	width: 35%;
	height: 330px;
}

#textoapp
{
	width: 90%;
	height:75%;
	font-size: 230%;
	text-align: left;
}

#btnDescargar
{
	float: left;
	width: 90%;
	height: 20%;
	margin-top: 7%;
	margin-right: 2%;
}

#btnandroid,
#btnapple
{
	width: 45%;
	height: 78%;
}

#btnandroid
{
	float: left;
}

#btnapple
{
	float: right;
}
