#media
{
	width: 70%;
	margin: 0 auto;
	background-image: url("../imagenes/Descarga/fondo-descarga.png");
	margin-top: -1.5%;
}

#infodescarga /*Div que contiene el texto de las apps*/
{
	float: left;
	width: 40%;
}

#div-descarga /*Div que contiene la imagen de las aplicaciones*/
{
	margin-top: 5%;
}

#txt-descarga /*Texto que habla la descarga */
{
	margin-top: 5%;
}

#img-descarga
{
	margin-top: 10%;
}

#video
{
	padding-top: 10%;
	padding-left: 5%;
}

#informacion
{
	width: 70%;
	margin: 0 auto;
	margin-top: -1%;
}

/*Opciones para top*/
.img-top
{
	margin-top: -2%;
}
