#encabezado
{
	background-image: url('../imagenes/Encabezado/fondo.png');
	width: 100%;
	height: 250px;
}

#logo /*div donde va la imagen del logo*/
{
	width: 30%;
	height: 100%;
	margin-left: 15%;
	margin-top: 4%;
	float: left;
}

#imglogo /*dimensiones de la imagen logo (la imagen se toma desde el archivo html)*/
{
	width: 76%;
	height: 49%;
	margin: 0 auto;	
}

#redes_sociales /*div donde iran los botones de las redes sociales*/
{
	width: 40%;
	height: 100%;
	margin-top: 5%;
	float: right;
	margin-right: -16%;
}

#btnYT,
#btnTW,
#btnFB /*dimensiones de las imagenes YouTube, Twitter, Facebook*/
{
	width: 4%;
	height: 9%;
	padding: 2px;
}

#div_sesion /*div donde se ubican los botones de sesion/registro*/
{
	float: right;
	width: 25%;
	height: 40px;
	margin-top: 10%;
	margin-right: -7%;
}

#btnSesion,
#btnRegistro /*propiedades del enlace (el efecto de boton está en el CSS clases)*/
{
	float: right;
	margin: 1%;
	font-size: 80%;
}

#franja /*div de franja blanca de decoración*/
{
	float: right;
	width: 47%;
	height: 10px;
	margin-top: 12%;
	margin-right: -34%;
}

#imglinea /*propiedades de la imagen de decoración*/
{
	width: 80%;
	height: 3px;
}

#baner /*div de banes con fondo del congreso*/
{
	width: 80%;
	height: 270px;
	margin: 0 auto;
	position: relative;
	color: #FFFFFF;
}

#imgbaner /*propiedades de la imagen del congreso del baner*/
{
	width: 100%;
	height: 100%;
	margin-top: -6.25%;
}

#texto /*div y propiedades del texto inferior izquierdo del baner*/
{
	position: absolute;
	
	width: 70%;
	height: 50px;
	left: 15%;
	bottom:9%;
	font-size: 120%;
	text-align: left;	
}

#twitter /*propiedades del link del baner a twitter*/
{
	position: absolute;
	width: 100%;
	height: 50px;
	right: 20%;
	bottom:9%;
   	font-weight:bold;
	font-size: 150%;
	text-align: right;
}

#twitter a
{
	text-decoration:none;
	color: #FFFFFF;
}

#twitter a:hover
{
	color: #5FBCD3;
}

/*Inician propiedades del menu desplegable*/
nav 
{
   
   margin:0 auto;
   width:80%;    
   font-size:100%; 
   position:relative;
}
 
.nav /*Aqui le damos forma y quitamos el estilo a la tabla*/
{
	float:left;
 	left:50%;
	list-style-type:none;
	margin:0 auto;
	padding:0;
	position:relative;
}

.nav li
{
	float:right;
 	position:relative;
 	right:50%;
}

ul, ol
{
	list-style: none;
}

.nav li a
{
	background:  #1E90FF;
	text-decoration: none;
	color: #FFFFFF;
	padding: 1em 3em 1em;
	display: block;
	font-size: 100%;
}

.nav li a:hover
{
	background: #36F; 
   	color: #FFFFFF;	
   	font-weight:bold;
}

.nav > li
{
	float: left;
}

.nav ul 
{
   display:none; 
   right:auto; 
   width: 100%;
}

.nav li ul
{
	display: none;
	position: absolute;
	min-width: 140px;
}

.nav li:hover > ul
{
	display: block;	
}

.nav li ul li 
{
	position: relative;
}

.nav ul li a,
.nav li.active li a,
.nav li:hover ul li a,
.nav li.hover ul li a 
{ /* IE6 */
   font-size: 80%;
   width: 90px;
   font-weight:normal; 
   background: #1E90FF;
   color:#FFFFFF;
   line-height:1.4em; 
}

.nav ul li a:hover,
.nav li.active ul li a:hover,
.nav li:hover ul li a:hover,
.nav li.hover ul li a:hover 
{ 
   background:#36F; 
   color:#FFFFFF;
   font-weight:bold;
}
/*Finalizan propiedades del menu desplegable*/

/*Comienza CSS de la sección opciones*/
#representante,
#visita,
#escribe_representante,
#faqs /*Aqui declaramos las dimensiones y propiedades de los divs de las opciones*/
{
	width: 75%;
	height: 100%;
	margin: 0 auto;
	margin-top: 2%;
}

#representante /*Damos un margen mayor al primer div*/
{
	margin-top: 4%;
}

.imgopciones_baner /*Propiedades de las imagenes de las opciones*/
{
	width: 100%;
	height: 20%;
	margin: 0 auto;
}

#div_boton1 /*Propiedades para el div de los botones de las opciones y propiedades distintas para los botones en cuanto color*/
{
	width: 10%;
	height: 50px;
	margin-left:62%;
	margin-top: -5%;
	position: absolute;
}

#btnMapa
{
	font-family: OpenSans-Semibold;
	font-size: 150%;
	color:  #1E90FF;
}

#btnMapa:hover
{
	font-family: OpenSans-Semibold;
	font-size: 150%;
	color:  #FFFFFF;
}

#div_boton2
{
	width: 10%;
	height: 50px;
	margin-left:2%;
	margin-top: -4%;
	position: absolute;
}

#btnVisita
{
	font-family: OpenSans-Semibold;
	font-size: 100%;
	color:  #FFD700;
}

#btnVisita:hover
{
	font-family: OpenSans-Semibold;
	font-size: 100%;
	color:  #FFFFFF;
}
/*Finaliza CSS de la sección opciones*/

/*Comienza CSS de la sección footer*/
#pie_de_pagina /*Propiedades del pie de página*/
{
	width: 100%;
	height: 380px;
	background-image: url('../imagenes/Pie_pagina/fondo.png');
	margin-top: 4%;
}

#div_datos /*Div para la primera sección donde están los datos de congreso abierto y redes sociales*/
{
	width: 76%;
	height: 80%;
	margin: 0 auto;
}


#div_links /*div para los links a los diferentes menus*/
{
	width: 75%;
	height: 20%;
	margin: 0 auto;
	text-align: center;
}

#div_datos div /*Aquí se dan las dimensiones de los tres divs que contienen la información de Congreso Abierto*/
{
	width: 30%;
	height: 300px;
	
	margin-left: 1%;
	margin-right: 1%;
	display:inline-block;
}

/*Propiedades para el primer div: informacion de Congreso Abierto*/
#div_datos div > #titulo_ca
{
	margin-top: 5%;
	width: 90%;
	height: 15%;
	float: left;
	font-family: OpenSans-Semibold;
	color: #fff;
	font-size: 150%;
}

#div_datos div > #texto_ca
{
	margin-top:3%;
	width: 92%;
	height: 75%;
	float: left;
}

#imgTextoca
{
	margin-top: 10%;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

/*Propiedades para el segundo div: redes sociales*/
#div_datos div > #titulo_rs
{
	margin-top: 5%;
	margin-left: 9%;
	width: 90%;
	height: 15%;
	float: left;
	font-family: OpenSans-Semibold;
	color: #fff;
	font-size: 150%;
}

#div_datos div > #intro_rs
{
	margin-left: 9%;
	width: 90%;
	height: 10%;
	float: left;
	font-family: OpenSans-Italic;
	color: #fff;
	font-size: 85%;
}

#div_datos div > #enlaces_rs
{
	margin-top:2%;
	margin-left: 9%;
	width: 90%;
	height: 66%;
	float: left;
}

#enlaces_rs div
{
	width: 85%;
	height: 15%;
	margin-top: 2%;
}

.imgRS
{
	width: 15%;
	height: 100%;
	float: left;
}

.linkRS
{
	text-decoration: none;
	font-family: OpenSans-Regular;
	color: #fff;
	font-size: 90%;
	margin-left: 5%;
}

.linkRS:hover
{
	color: #36F;
}

/*Propiedades para el tercer div: suscripción*/
#div_datos > #ultimo_div
{
	margin-left: 2%;
	width: 31%;
}
#div_datos div > #titulo_suscribir
{
	margin-top: 5%;
	margin-left: 5%;
	width: 95%;
	height: 13%;
	float: left;
	font-family: OpenSans-Semibold;
	color: #fff;
	font-size: 150%;
}

#div_datos div > #div_txt
{
	margin-top:1%;
	margin-left: 5%;
	width: 95%;
	height: 79%;
	float: left;
}

label
{
	display: block;
	font-family: OpenSans-Regular;
	color: #fff;
	font-size: 85%;
	margin: 5% 0 0 0;
}


input
{
	font-family: OpenSans-Regular;
	width: 90%;
	color: #414A4C;
	padding: 1%;
	border:solid 1px #FFFFFF;
	text-align: left;
	border-radius:8px;
}

input:focus
{
	box-shadow:0 0 15px #222222;
}

#btnSuscribir
{
	display: block;
	float: right;
	margin-right: 5%;
	margin-top: 5%;
}

/*Inicia Div de Links*/
.list_links /*Aqui le damos forma y quitamos el estilo a la tabla*/
{
	float:right;
 	right:50%;
	list-style-type:none;
	margin:0 auto;
	padding: 0;
	position:relative;
}

.list_links li
{
	float:left;
 	position:relative;
 	left:50%;
 	padding: 0.5em 1em 0.5em;
}

.list_links ul, ol
{
	list-style: none;
}

.list_links li a
{
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	
	font-family: OpenSans-Regular; 
	font-size: 80%;
	text-align: center;
	
	padding: 1px 20px 1px 10px;
	border-right-color: #fff;
	border-right-style: solid;
	border-right-width: 3px;
}

.list_links li a:hover
{ 
   	color: #36F;	
}

#ultimo_link
{
	border-right-width: 0px;
}
/*Finaliza CSS de la sección footer*/