#mapa
{
	width: 70%;
	margin: 0 auto;
	margin-top: -1%;
}

#contenedor-mapa li a 
{
	text-decoration:none;
}

#contenedor-mapa li 
{
	list-style-type:none;
}

.lista-diputados li 
{
	list-style-type: none;
}

.lista-diputados li a
{
	text-decoration: none;
}
