<link type="text/css" rel="stylesheet" href="/stylesheets/index.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/clases.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/fuentes.css" />
 	
  	<!-- Comienza codigo de Congreso Abierto -->
  	<section>
  		<article id="articulo1">
  			<div id="video">
  				<iframe width="100%" height="100%"
				src="http://www.youtube.com/embed/35T5yFerp-c">
				</iframe>
			</div>
			<div id="app">
				<div id="textoapp" class="fuente_light"><strong>Congreso Abierto</strong> es tu oportunidad para ser parte del cambio en nuestro país, Guatemala.</div>
				<div id="btnDescargar">
					<a href="http://play.google.com/store"><img id="btnandroid" title="google play" src="/imagenes/Cuerpo/Botones/boton-android.png" /></a>
					<a href="http://www.apple.com/es/retail"><img id="btnapple" title="tienda apple" src="/imagenes/Cuerpo/Botones/boton-apple.png" /></a>
				</div>
			</div>
		</article>
		
	</section>