<link type="text/css" rel="stylesheet" href="/stylesheets/index.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/clases.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/home.css"/>

<div id="content" class="clearfix">
		
	
  	<%= render :partial => 'layouts/user_nav' %>
  	
  	
  	<!-- Comienza codigo de Congreso Abierto -->
  	<section>
  		<article id="articulo1">
  			<div id="video">
					
			</div>
			<div id="app">
				<div id="textoapp1" class="fuente_color"><strong>Congreso Abierto</strong> es tu oportunidad para ser parte del cambio en nuestro país, Guatemala.</div>
				<div id="textoapp2" class="fuente_color">Involucrate hoy. Descarga el app ></div>
				<div id="btnDescargar"><a class="boton1" title="Descargar" href="http://play.google.com/store">DESCARGAR</a></div>
			</div>
		</article>	
	</section>
	
	<article id="articulo2">
		<div class="fuente_color">
			<h2>¿Quién es mi representante en el Congreso?</h2>
			<form action="/people/zipcodelookup">
      			<input type="text" maxlength='100' value="Departamento"  onfocus="this.value='';" name="zip5" />
      		</form>
      	</div>
	</article>

<!-- Comienza codigo de OpenCongress -->
  		
   


 
</div><!-- inner -->
</div> <!-- content -->
