<link type="text/css" rel="stylesheet" href="/stylesheets/clases.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/scaffold.css"/>

<section>
	<article id="articulo1" class="fuente_normal">
		<h1>Edita la Asignación</h1>
		
		<%= render 'form'%>
		
		<%= link_to 'Ver', @asig_comission%> |
		<%= link_to 'Regresar', asig_comissions_path%>		
		
	</article>
</section>