<link type="text/css" rel="stylesheet" href="/stylesheets/clases.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/scaffold.css"/>

<section>
	<article id="articulo1" class="fuente_normal">
		
		<h1>Edita la Iniciativa de Ley</h1> 
		
		<%= render 'form'%>
		
		<%= link_to 'Ver', @bills%> |
		<%= link_to 'Regresar', bills_path%>
		
	</article>
</section>