<div id="o-1">
	<h3 class="fuente_light gris">No cuenta con currículum</h3>	 
</div>

<div id="o-2">
	<h3 class="fuente_light gris">Iniciativas</h3>	 
</div>

<div id="o-3">
	<h3 class="fuente_light gris">Comisiones</h3>	 
</div>

<div id="o-4">
	<h3 class="fuente_light gris">Comisiones</h3>	 
</div>

<div id="o-5">
	<h3 class="fuente_light gris">Comisiones</h3>	 
</div>

