<link type="text/css" rel="stylesheet" href="/stylesheets/diputados.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/clases.css"/>

<section>
	<article id="articulo1" class="fuente_color">
		<h1 class="fuente_color">Listado General de Diputados</h1>
		<ul>
			<% @dip.each do |n|%>
			<li><%= link_to n.nombre,:controller => 'congreso' ,:action => 're_perfil', :action => 'perfil_diputados', :codigo => n.id %></li>
			<%end%>
		</ul>
	</article>
</section>