<link type="text/css" rel="stylesheet" href="/stylesheets/metodo_login.css"/>

<div id="div_registro">
    
    <form name="login-form" class="login-form extra" action="" method="post">
    	<%= error_messages_for :user %>    
    	<h3 class="fuente_semibold blanco text-center">Crea tu cuenta, es gratis</h3>
	
	<div class="form-grou div-boletin">
		<label class="fuente_normal blanco">Usuario</label>
		<input id="input-sesion1" type="text" name="username" class="form-control fuente_light gris" value="Usuario" onfocus="this.value=''" />
	</div>
	
	<div class="form-grou div-boletin">
		<label class="fuente_normal blanco">Contrase침a</label>
		<input id="input-sesion2" type="password" name="password" class="form-control fuente_light gris" value="Password" onfocus="this.value=''" />
	</div>
	
	<div class="form-grou div-boletin">
		<label class="fuente_normal blanco">Confirma tu contrase침a</label>
		<input id="input-sesion2" type="password" name="password" class="form-control fuente_light gris" value="Password" onfocus="this.value=''" />
	</div>
	
	<div class="form-grou div-boletin">
		<label class="fuente_normal blanco">Correo electr칩nico</label>
		<input id="input-sesion1" type="text" name="username" class="form-control fuente_light gris" value="Correo Electr칩nico" onfocus="this.value=''" />
	</div>
    
    <div class="form-group div-boletin">
		<input  id="btn-login" type="submit" name="submit" value="Registrate" class="boton_blanco text-center" /> <br />
  	</div>
    </form>

</div>