<link type="text/css" rel="stylesheet" href="/stylesheets/metodo_login.css"/>


<div id="div_registro">
    
    <form name="login-form" class="login-form extra" action="" method="post">
    <%= error_messages_for :user %>
    <!--HEADER-->
    <div class="header">
    <!--TITLE--><h1>Crea tu cuenta, es gratis</h1><!--END TITLE-->
    </div>
    <!--END HEADER-->
	
	<!--CONTENT-->
    <div class="content"><!--END LUSERNAME-->
    <!--LUSERNAME--><label class="fuente_normal" for="username">Usuario</label>
	<!--USERNAME--><input name="username" type="text" class="input username" value="Usuario" onfocus="this.value=''" /><!--END USERNAME-->
	<!--LCONTRASEÑA--><label class="fuente_normal" for="password">Contraseña</label><!--END LCONTRASEÑA-->
    <!--PASSWORD--><input name="password" type="password" class="input password" value="Password" onfocus="this.value=''" /><!--END PASSWORD-->
    <!--LCCONTRASEÑA--><label class="fuente_normal" for="confirm_password">Confirma tu contraseña</label><!--END LCCONTRASEÑA-->
    <!--CPASSWORD--><input name="confirm_password" type="password" class="input password" value="Password" onfocus="this.value=''" /><!--END CPASSWORD-->
    <!--LEMAIL--><label class="fuente_normal" for="email">Correo Electrónico</label>
	<!--EMAIL--><input name="email" type="text" class="input username" value="Correo" onfocus="this.value=''" /><!--END EMAIL-->
    </div>
    <!--END CONTENT-->
    
    <!--FOOTER-->
    <div class="footer">
    <!--LOGIN BUTTON--><input type="submit" name="submit" value="Registrarse" class="boton_celeste" /><!--END LOGIN BUTTON-->
    
    </div>
    <!--END FOOTER-->
    </form>
    <!--END LOGIN FORM-->
</div>

<!--END WRAPPER-->
