<link type="text/css" rel="stylesheet" href="/stylesheets/clases.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/account.css"/>

<div id="div-registro">
	<%= render :partial => "signup_form" %>
</div>