<link type="text/css" rel="stylesheet" href="/stylesheets/clases.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/account.css"/>

<div id="div-login">
	<%= render :partial => 'login_form' %>
</div>
