<link type="text/css" rel="stylesheet" href="/stylesheets/cuenta.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/clases.css"/>

<section>
	<article class="art_sesion">
			<%= render :partial => 'login_form' %>
	</article>	
</section>