<link type="text/css" rel="stylesheet" href="/stylesheets/cuenta.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/clases.css"/>

<section>
	<article id="articulo1" class="fuente_color">
		<div id="iniciar_s">
			<%= render :partial => 'login_form' %>
		</div>
	</article>	
</section>