<link type="text/css" rel="stylesheet" href="/stylesheets/mapa_distrital.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/clases.css"/>

<!-- Aquí comienza el código que debo copiar al proyecto -->

		<section class="fuente_color">
			<article id="articulo1" >
				<div id="mapa">
					<ul>
						
						<li><a href="#">Alta Verapaz </a></li>
						<li><a href="#">Baja Verapaz</a></li>
						<li><a href="#">Chimaltenango</a></li>
						<li><a href="#">Distrito Central</a></li>
						<li><a href="#">Distrito Guatemala</a></li>
						<li><a href="#">El Progreso</a></li>
						<li><a href="#">Escuintla</a></li>
						<li><a href="#">Huehuetenango</a></li>
						<li><a href="#">Izabal</a></li>
						<li><a href="#">Jalapa</a></li>
						<li><a href="#">Jutiapa</a></li>
						<li><a href="#">Petén</a></li>
						<li><a href="#">Quetzaltenango</a></li>
						<li><a href="#">Quiché</a></li>
						<li><a href="#">Retalhuleu</a></li>
						<li><a href="#">Sacatepéquez</a></li>
						<li><a href="#">San Marcos</a></li>
						<li><a href="#">Santa Rosa</a></li>
						<li><a href="#">Sololá</a></li>
						<li><a href="#">Totonicapán</a></li>
						<li><a href="#">Zacapa</a></li>
						<li><a href="#">Diputados por Listado Nacional</a></li>
					</ul>
				</div>
				<div id="informacion">
					<div id="distrito"><%=@distrito%></div>
					<div id="numero"> 31 DIPUTADOS </div>
					<div id="listado_diputados"> </div> 
				</div>
			</article>
			
		</section>
		<!-- Aquí termina el código que debo copiar al proyecto -->