<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/maestro.css" />
<script src="/javascripts/mensaje_emergente.js"> </script>

<div id="pie-pagina-1" class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="col-sm-4">
			<h5 class="col-md-12 fuente_semibold blanco text-uppercase">CONGRESO ABIERTO</h5>
			<h6 class="col-md-11 fuente_normal blanco text-justify"><i>
				La información por si sola no es trascendenta. Lo que marca la diferencia es cómo interactuamos con ella y cuál es el efecto de esta interacción.
				El objetivo de Congreso Abierto es compartir la información a la cual tenemos derecho para revitalizar la ciudadania y que a partir de la colaboración entre los ciudadanos y la institución,
				se genere un nuevo vínculo con un Congreso más moderno.
				</i>
			</h6>
			
		</div>
		
		<div class="col-sm-4">
			<h5 class="col-md-12 fuente_semibold blanco text-uppercase">EN OTRAS REDES</h5>
			<h6 class="col-md-12 fuente_normal blanco"><i>Encuentranos también en otras redes:</i></h6>
			<div class="col-md-12">
				<img class="img-redes" src="/imagenes/Pie_pagina/fb.png" />
				<a href="https://www.facebook.com/congresoabiertogt" class="fuente_normal blanco enlace-pie">Facebook</a>
			</div>
			
			<div class="col-md-12 div-redes" >
				<img class="img-redes" src="/imagenes/Pie_pagina/tw.png" />
				<a href="https://twitter.com/CongresoGT" class="fuente_normal blanco enlace-pie">Twitter</a>
			</div>
			
			<div class="col-md-12 div-redes">
				<img class="img-redes" src="/imagenes/Pie_pagina/yt.png" />
				<a href="https://www.youtube.com/channel/UCZr5jgPCN9CPnESiwnW0H9Q" class="fuente_normal blanco enla">Youtube</a>
			</div>
						
		</div>
		
		<div class="col-sm-4">
			<h5 class="col-md-12 fuente_semibold blanco text-uppercase">SUSCRÍBETE AL BOLETÍN</h5>
			
			<form role="form">
				<div class="form-grou div-boletin">
			  		<label class="fuente_normal blanco">Nombre</label>
				    <input type="text" class="form-control input-boletin fuente_light gris">
				</div>
				
			  	<div class="form-grou div-boletin">
			  		<label class="fuente_normal blanco">Apellido</label>
				    <input type="text" class="form-control input-boletin fuente_light gris">
				</div>
				
  				<div class="form-group div-boletin">
    				<label class="fuente_normal blanco">Correo</label>
				    <input type="text" class="form-control input-boletin fuente_light gris">
				    <a id="btn-enviar" href="/" class="boton_blanco text-right">Enviar</a>
  				</div>	
			</form>			
		</div>	
	</div>
</div>
