<link type="text/css" rel="stylesheet" href="/stylesheets/mapa_distrital.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/maestro.css"/>

<div id="opciones-1" class="row">
	<div class="col-md-6"><%= link_to image_tag('/imagenes/Cuerpo/Banners/banner-01_anterior.png', :class =>'img-responsive img-opcion' , :title => 'Mapa Distrital'), 
	:controller => 'congreso', :action => 'mapa_distrital' %></div>
	<div class="col-md-6"><img src="/imagenes/Cuerpo/Banners/banner-02.png" class="img-responsive img-opcion"></div>
</div>

<div id="opciones-2" class="row">
	<div class="col-md-6"><img src="/imagenes/Cuerpo/Banners/banner-03.png" class="img-responsive img-opcion"></div>
	<div class="col-md-6"><img src="/imagenes/Cuerpo/Banners/banner-04.png" class="img-responsive img-opcion"></div>
</div>
