<div id="representante">
	<img class="imgopciones_baner" src="/imagenes/Cuerpo/Banners/banner-01.png" />
	<div id="div_boton1">
		<%= link_to "MAPA", {:controller => 'diputados', :action => 'mapa_distrital'}, { :class => "boton_blanco", :id => "btnMapa"} %>
	</div>
</div>

<div id="visita">
	<img class="imgopciones_baner" src="/imagenes/Cuerpo/Banners/banner-02.png" />
	<div id="div_boton2">
		<a id="btnVisita" class="boton_blanco" href="#" >IR</a>
	</div>
</div>

<div id="escribe_representante">
	<a href="#"><img class="imgopciones_baner" src="/imagenes/Cuerpo/Banners/banner-03.png" /></a>
	
</div>

<div id="faqs">
	<a href="#"><img class="imgopciones_baner" src="/imagenes/Cuerpo/Banners/banner-04.png" /></a>
	
</div>
